
</div>
<div class="footer-padding"></div>
  <div class="footer">
      <i class="fab fa-twitter social"></i>
      <i class="fab fa-facebook-f social"></i>
      <i class="fab fa-instagram social"></i>
      <i class="fas fa-envelope social"></i>
      <p>© Copyright 2021 Anushka Gangal</p>

  </div>
</div>
</body>
</html>
