<%- include("partials/header"); -%>


<section id="startingSlideshow">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6 col-sm-6 firstSlide">
            <div class="block">
              <h2>Welcome to AGS Bank</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 firstSlide">
            <div class="block uni">
              <i class="fas fa-university fa-10x bank"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="download-app">
          <h2>Download our app!</h2>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>
<!-- ****************************FACILITY*************************** -->
<section class="facilities">


  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 facility-box transfer">
        <div class="block">
          <i class="fas fa-comments-dollar fa-4x icon"></i>
          <br>
          <button type="button" class="btn first" name="transferMoney"><a href="/transferMoney">Transfer Money</a></button>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 facility-box view">
        <div class="block">
          <i class="fas fa-file-invoice-dollar fa-4x icon"></i>
          <br>
          <button type="button" class="btn first trans" name="viewCustomer"><a href="/transactionHistory">Transaction History</a></button>
        </div>
      </div>
      <div class="col-md-4 facility-box accounts">
        <div class="block">
          <i class="fas fa-users fa-4x icon"></i>
          <br>
          <button type="button" class="btn first" name="button"><a href="/accounts">Accounts</a></button>
        </div>
      </div>
    </div>
  </div>

</section>


<section id="contactUs">


  <div class="cu">
    <div class="query">
      <h2 class="ques">Have any query? Write to us!</h2>
      <a class = "email " href="mailto:anushkagangal.13@gmail.com?subject=feedback">Contact Us</a>
    </div>

    <p>
      <b>Registered Office:</b> AGS Bank Tower, <br>
      Near Chakli Circle, Old Padra Road, Vadodara 480002, Gujarat, India.
      <br>
      Tel :+91-123-4567890
      <br>
      CIN : M1224NOP565677
      <br>
      <b>Corporate Office:</b> AGS Bank Towers, <br>
      Bandra-Kurla Complex, Mumbai 400 006.<br>
      Tel : +91-12-34567890
      <br>
      Fax : +91-12-34567890
    </p>
  </div>

</section>

<%- include("partials/footer"); -%>
